<div class="team">
  <h1><%= @team.name %></h1><br>
  <h4>Team Motto: <%= @team.motto %></h4>

  <% @superheroes.each do |hero| %>
    <div class="members">
      <p>Member Name: <%= hero.name %></h3><br>
      <p>Hero Power: <%= hero.power %></h3><br>
      <p>Member Biography: <%= hero.bio %></h3><br>
    </div>
  <% end %>
